In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# #import orders_products_merged file
path = r'C:\Users\Admin\Documents\Data Analytics Course\Achievement 4\08-2020 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'NEW_orders_products_merged.pkl'))

In [4]:
#removing unnecessary busiest day column
ords_prods_merge=ords_prods_merge.drop(columns=['busiest day'])

In [5]:
#setting prices over 100 as NANs
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [6]:
ords_prods_merge['prices'].describe()

count    3.239973e+07
mean     7.790994e+00
std      4.241809e+00
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      2.500000e+01
Name: prices, dtype: float64

## Question 2

In [7]:
#find the aggregated mean of the “order_number” column grouped by “department_id”
ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Compared to the results from the subset, the results from the entire dataframe have a larger have a larger range of means.

## Question 4

In [8]:
#use the transform() and loc() functions to create a loyalty flag for customers with many orders

In [9]:
#creating a column for the max number of orders per customer
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['customer_id'])['order_number'].transform(np.max)

In [10]:
#create a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

## Question 5

In [11]:
# Check basis statistics of product prices for each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773575  1.0  25.0
New customer      7.801206  1.0  25.0
Regular customer  7.798262  1.0  25.0

## Question 6

In [12]:
# create a column of mean price per customer
ords_prods_merge['mean_order'] = ords_prods_merge.groupby(['customer_id'])['prices'].transform(np.mean)

In [13]:
ords_prods_merge.head(15)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556

In [14]:
ords_prods_merge['mean_order'].describe()

count    3.240486e+07
mean     7.790996e+00
std      7.348183e-01
min      1.000000e+00
25%      7.378488e+00
50%      7.811940e+00
75%      8.229328e+00
max      2.320000e+01
Name: mean_order, dtype: float64

In [15]:
# create the flag that targets low and high spenders
ords_prods_merge.loc[ords_prods_merge['mean_order'] < 10, 'spending_flag'] = 'Low Spender'
ords_prods_merge.loc[ords_prods_merge['mean_order'] >= 10, 'spending_flag'] = 'High Spender'

In [16]:
ords_prods_merge[['customer_id', 'mean_order', 'spending_flag']].head(15)

    customer_id  mean_order spending_flag
0             1    6.367797   Low Spender
1             1    6.367797   Low Spender
2             1    6.367797   Low Spender
3             1    6.367797   Low Spender
4             1    6.367797   Low Spender
5             1    6.367797   Low Spender
6             1    6.367797   Low Spender
7             1    6.367797   Low Spender
8             1    6.367797   Low Spender
9             1    6.367797   Low Spender
10           15    3.980556   Low Spender
11           15    3.980556   Low Spender
12           15    3.980556   Low Spender
13           15    3.980556   Low Spender
14           15    3.980556   Low Spender

## Question 7

In [17]:
#create column for median days since prior order
ords_prods_merge['median_since_prior_order'] = ords_prods_merge.groupby(['customer_id'])['days_since_prior_order'].transform(np.median)

In [18]:
ords_prods_merge.head(15)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,median_since_prior_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5
5,3367565,1,6,2,7,19.0,False,196,1,1,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5
6,550135,1,7,1,9,20.0,False,196,1,1,...,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
7,3108588,1,8,1,14,14.0,False,196,2,1,...,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
8,2295261,1,9,1,16,0.0,False,196,4,1,...,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
9,2550362,1,10,4,8,30.0,False,196,1,1,...,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
10,2968173,15,15,1,9,7.0,False,196,2,0,...,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0
11,1870022,15,17,2,16,8.0,False,196,6,1,...,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0
12,1911383,15,18,2,11,7.0,False,196,1,1,...,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0
13,2715276,15,21,1,9,7.0,False,196,1,1,...,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0
14,487368,15,22,1,10,14.0,False,196,1,1,...,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0

In [19]:
# create flag for frequent customers
ords_prods_merge.loc[ords_prods_merge['median_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_since_prior_order'] > 10) & (ords_prods_merge['median_since_prior_order'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [20]:
ords_prods_merge[['customer_id', 'median_since_prior_order', 'frequency_flag']].head(20)

    customer_id  median_since_prior_order         frequency_flag
0             1                      20.5  Non-frequent customer
1             1                      20.5  Non-frequent customer
2             1                      20.5  Non-frequent customer
3             1                      20.5  Non-frequent customer
4             1                      20.5  Non-frequent customer
5             1                      20.5  Non-frequent customer
6             1                      20.5  Non-frequent customer
7             1                      20.5  Non-frequent customer
8             1                      20.5  Non-frequent customer
9             1                      20.5  Non-frequent customer
10           15                      10.0      Frequent customer
11           15                      10.0      Frequent customer
12           15                      10.0      Frequent customer
13           15                      10.0      Frequent customer
14           15                      10.0      Frequent customer
15           19                       6.0      Frequent customer
16           19                       6.0      Frequent customer
17           19                       6.0      Frequent customer
18           21                       7.5      Frequent customer
19           31                       6.0      Frequent customer

In [21]:
ords_prods_merge['prices'].describe()

count    3.239973e+07
mean     7.790994e+00
std      4.241809e+00
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      2.500000e+01
Name: prices, dtype: float64

In [22]:
# Export new file as pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_flags.pkl'))